<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Apunts Fotogràfics</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        @Html.Partial("_NavigationMenu")
    </nav>


    <div class="container breadcrumb">
        @Html.Partial("_Breadcrumb")
    </div>

    <div id="container" class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>

    $(document).off('click', '.items a').on('click', '.items a', function () {

        //Breadcrumb dynamic management
        var $this = $(this), $bc = $('<div class="item"></div>');

        $this.parents('li').each(function (n, li) {
            var $a = $(li).children('a').clone();
            $bc.prepend(' / ', $a);
        });
        $('.breadcrumb').html($bc.prepend('<a class="nav-menu" href="#" name="Index"><i class="fa fa-home fa-fw"></i>Home</a>'));

        //Redirect to view with ajax
        var view = $(this).attr("name");
        var request = $.ajax({
            url: "/Home/" + view,
            contentType: "application/json; charset=UTF-8",
            type: "POST",
            data: {},
            dataType: "html"
        });
        request.done(function (data) {
            console.log(data)
            $('#container').empty().append(data);
            console.log('Going to ' + view + ' done.')
        });
        request.fail(function (err) {
            console.log('Going to ' + view + ' failed.')
        });
    });

    $(document).off('click', '.camera-list').on('click', '.camera-list', function () {
        var camera = $(this).attr("name");
        var request = $.ajax({
            url: "/Cameres/Index/",
            contentType: "application/json; charset=UTF-8",
            traditional: true, 
            type: "GET",
            data: {
                Camera: camera
            },
            dataType: "html"
        });
        request.done(function (data) {
            console.log(data)
            $('#container').empty().append(data);
            console.log('Going to Cameres/Index done.')
        });
        request.fail(function (err) {
            console.log('Going to Cameres/Index failed.')
        });
    });

    


</script>
